StoreClient/Connected Services/StoreService/StoreService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/StoreService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/StoreService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/HU_Store" />
  <xs:complexType name="ArrayOfOrderList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrderList" nillable="true" type="tns:OrderList" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrderList" nillable="true" type="tns:ArrayOfOrderList" />
  <xs:complexType name="OrderList">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="OrderDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderList" nillable="true" type="tns:OrderList" />
  <xs:complexType name="ArrayOfProductOrder">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductOrder" nillable="true" type="tns:ProductOrder" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductOrder" nillable="true" type="tns:ArrayOfProductOrder" />
  <xs:complexType name="ProductOrder">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HU_Store" minOccurs="0" name="Product" nillable="true" type="q1:Product" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductOrder" nillable="true" type="tns:ProductOrder" />
  <xs:complexType name="OrderItemList">
    <xs:sequence>
      <xs:element minOccurs="0" name="OrderItems" nillable="true" type="tns:ArrayOfOrderItem" />
      <xs:element minOccurs="0" name="PriceTotal" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderItemList" nillable="true" type="tns:OrderItemList" />
  <xs:complexType name="ArrayOfOrderItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrderItem" nillable="true" type="tns:OrderItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrderItem" nillable="true" type="tns:ArrayOfOrderItem" />
  <xs:complexType name="OrderItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:int" />
      <xs:element minOccurs="0" name="ProductName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductPrice" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderItem" nillable="true" type="tns:OrderItem" />
</xs:schema>